.nav-style .header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-style .header img {
	margin-right: 20px;
}

.header{
	display: flex;
	flex-direction: column;
	
}

ul{
	list-style-type: none;
	text-align: right;
}

.nav-link{
	font-size: 20px;
}